Package: python3-aquario
Source: aquario
Version: 1.0.0-1
Architecture: all
Maintainer: None <None>
Installed-Size: 25
Depends: python3:any
Section: python
Priority: optional
Homepage: None
Description: Aquário animado que roda no terminal
